@charset "utf-8";
@import 'variables';

@mixin grid-container($rows: unset, $columns: unset, $areas: unset, $gap: 0) {
    display: grid;
    grid-template-row: $rows;
    grid-template-columns: $columns;
    grid-template-areas: $areas;
    grid-gap: $gap;
}

@mixin grid-align($js-content: unset, $al-content: unset, $js-items: unset, $al-items: unset) {
    justify-content: $js-content;
    align-content: $al-content;
    justify-items: $js-items;
    align-items: $al-items;
}

@mixin flex-box($align, $justify, $direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin custom-box($width, $height, $background-color: $main-color, $radius: 2px) {
    border: none;
    background-color: $background-color;
    width: $width;
    height: $height;
    margin: 0 auto;
    border-radius: $radius;
}

@mixin font-text($size: 16px, $color:black, $family: $main-font, $weight:normal) {
    font-size: $size;
    color: $color;
    font-family: $family;
    font-weight: $weight;
}